<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        
        {# Bootstrap 5 CSS #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        
        {% block stylesheets %}
        {% endblock %}

        {# Bootstrap 5 JS Bundle (includes Popper) - Chargé AVANT les assets Symfony #}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">TutoSymfony</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle {{ app.request.attributes.get('_route') starts with 'app_produit' ? 'active' : '' }}" href="#" id="navbarDropdownProduit" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Produits
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownProduit">
                                <li><a class="dropdown-item" href="{{ path('app_produit') }}">Liste</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_produit_create') }}">Ajouter</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle {{ app.request.attributes.get('_route') starts with 'app_category' ? 'active' : '' }}" href="#" id="navbarDropdownCategory" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Catégories
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownCategory">
                                <li><a class="dropdown-item" href="{{ path('app_category') }}">Liste</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_category_create') }}">Ajouter</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle {{ app.request.attributes.get('_route') starts with 'app_tag' ? 'active' : '' }}" href="#" id="navbarDropdownTag" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Tags
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownTag">
                                <li><a class="dropdown-item" href="{{ path('app_tag') }}">Liste</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_tag_create') }}">Ajouter</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link {{ app.request.attributes.get('_route') starts with 'app_panier' ? 'active' : '' }}" href="{{ path('app_panier') }}" title="Voir le panier">
                                Panier
                                <svg xmlns="http://www.w3.org/2000/svg" width="20 " height="20" fill="currentColor" class="bi bi-cart2" viewBox="0 0 20 20">
                                <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
                                </svg>  
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
